@{
    ViewBag.Title = "Recuperación de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<hr />
<div class="row">
    <div class="col-md-6">
        <br />
        <h4>
            Se ha enviado un correo electrónico con su nueva contraseña.
        </h4>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/message.png" style="margin-left: auto;margin-right: auto;display: block;"/>
    </div>
</div>