@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2 >Acerca de Nosotros</h2>
<hr />
<div class="row">
    <div class="col-md-5">
        <p style="text-align:justify">
            El mundo Académico es cambiante, evoluciona cada día.
            Es mucho más competitivo y exigente. En la Universidad
            Técnica de Cotopaxi nos distinguimos por la calidad de
            nuestros servicios, el profesionalismo de nuestra gente
            y la manera en que formamos estudiantes con conocimientos
            superlativos y competitivos. Hoy, consolidamos un compromiso
            en la forma de trabajar y de comportarnos; Creamos el valor
            que tú necesitas.
        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
        <br />
        <img src="~/Content/Images/logo.png" style="width:300px;margin-left: auto;margin-right: auto;display: block;" />
    </div>
    </div>
