@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2 >Acerca de Nosotros</h2>
<hr />
<div class="row">
    <div class="col-md-5">
        <h4><strong>Misión: </strong></h4>
        <p align="justify">
            Somos la Unidad Educativa que educa a la niñez y juventud,
            aplicando una Pedagogía por procesos y un enfoque socio
            crítico e inclusivo; generando ciudadanos competentes e
            innovadores por la vida; logrando ser una institución líder
            dentro de la sociedad que promueva el cuidado del ambiente
            y su entorno.
        </p>
        <h4><strong>Visión: </strong></h4>
        <p align="justify">
            Ser una Unidad Educativa que forme ciudadanos justos,
            solidarios e innovadores, brindando juna educación integral
            y holística; con educadores competentes y creativos que
            logren desarrollar líderes autónomos, responsables y
            trascendentes; que cuiden y valoren el medio ambiente y
            los derechos humanos.
        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/logo.png" style="margin-left: auto;margin-right: auto; margin-top:40px;display: block;width:200px;height:200px;max-width:100%;" />
    </div>
    </div>
