@{
    ViewBag.Title = "Contacto";
}
<h2 >Contáctanos</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <address align="justify">
            Av. Amazonas y 11 de Noviembre.<br />
            Machachi - Ecuador.<br />
            Teléfonos: (593) 03 2315324.<br /><br />
            <strong>Email: </strong><a href="mailto:josemejialequerica2013@hotmail.com">josemejialequerica2013@hotmail.com</a><br />
        </address>
    </div>
    <div class="col-md-6">
        <img src="~/Content/Images/logo.png" style="margin-left: auto;margin-right: auto;display: block;width:140px;height:140px;max-width:100%;"/>
    </div>
</div>