@{
    ViewBag.Title = "Contacto";
}
<h2 >Contáctanos</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <address>
            Av. Simón Rodríguez s/n Barrio El Ejido Sector San Felipe.<br />
            Latacunga - Ecuador.<br />
            Teléfonos: (593) 03 2252205 / 2252307 / 2252346. CAREN: 2266164.<br />
            LA MANÁ: 2688443.<br />
            Av. Los Almendros y calle Pujili sector La Virgen<br />
            La Maná -  Ecuador<br />
            <strong>Web: </strong><a href="http://www.utc.edu.ec"> www.utc.edu.ec</a><br />
            <strong>Email: </strong><a href="mailto:comunicacion.institucional@utc.edu.ec">comunicacion.institucional@utc.edu.ec</a><br />
        </address>
    </div>
    <div class="col-md-6">
        <br />
        <img src="~/Content/Images/logo.png" style="width:300px;margin-left: auto;margin-right: auto;display: block;"/>
    </div>
</div>