@model votaciones.Models.State

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Estado</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<br />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.StateId }, new { @class = "btn btn-warning" }) 
    @Html.ActionLink("Volver", "Index", new { }, new { @class = "btn btn-success" })
</p>
